<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demoAngularJs</title>
    <script src="angular.min.js">
    </script>
</head>
<body>
<div ng-app="" ng-init="='unitprice='0' ; numberofitems='0'">
    unitprice:
    <input type="number" ng-model="unitprice">
    numberofitems:
    <input type="number" ng-model="numberofitems">
    <p>total cost is {{unitprice * numberofitems}}</p>

</div>

</body>
</html>