<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo4</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        .img {
            height: 50px;
            width: 50px;
        }

        .container {
            width: 120px;
            border: 1px solid red;
            margin: 2%;
            padding: 2px;
            float: left;

        }
    </style>
</head>
<body>

<div ng-app="myappstore">
    <div ng-controller="appCtrl">

        <div ng-repeat="items in products" class="container">
            <img src="{{items.imagePath}}" class="img">
            <p>{{items.name}}</p>
            <p>Price:{{items.price}}</p>
            <p> in stoke:{{items.qty}}</p>
            <p>Weight:{{items.weight}}</p>
            <button> Add to chart</button>
        </div>
<br>
        <fieldset style="width: 100%">
            <legend>data entry</legend>
            <form>
                <div>
                    <label>Name</label>
                    <input type="text" ng-model="new.name">
                </div>
                <div>
                    <label>Price</label>
                    <input type="number" ng-model="new.price">
                </div>
                <div>
                    <label>in stoke</label>
                    <input type="number" ng-model="new.qty">
                </div>
                <div>
                    <input type="button" value="add items" ng-click="addproducts()">
                </div>
            </form>
        </fieldset>
    </div>
</div>

</body>
</html>