<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo2</title>
    <style>
        .img{
            height: 50px;
            width: 50px;
        }
        .container{
            width: 120px;
            border: 1px solid red;
            margin: 2%;
            padding: 2px;
            float: left;

        }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-app="myappstore">
    <div ng-controller="appCtrl">
        <div ng-repeat="items in products" class="container">
            <img src="{{items.imagePath}}" class="img">
            <p>{{items.name}}</p>
            <p>Price:{{items.price}}</p>
            <p> in stoke:{{items.qty}}</p>
            <p>Weight:{{items.weight}}</p>
            <button> Add to chart</button>
        </div>
    </div>

</div>


</body>
</html>
